	

		<!-- Main -->
			<div id="main">
			
				<!-- Intro -->
					<section id="top" class="one">
						<div class="container">

							<div class="image featured"><img src="images/work001.jpg" alt="" /></a>

							<header>
								<h2 class="alt">Hello, I'm <strong>Daniel Huber</strong>. 
							</header>
							
							
                            <p>I am a Enterprise Architect with a background in network engineering.<br /></p>
							<footer>
								<a href="http://linktrack.info/.2citb" class="button scrolly">View my Resume</a>
							</footer>

						</div>
					</section>
					
					<!-- About Me -->
					<section id="about" class="two">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<div class="image featured"><img src="images/wsnc.jpg" alt="" /></div>
							
                        <p>Originally from Florida, I now live in Winston Salem, North Carolina.</p>	

						</div>
					</section>
					
					
					
				<!-- Portfolio -->
					<section id="portfolio" class="three">
						<div class="container">
					
							<header>
								<h2>Current Work</h2>
							</header>
							<div class="image featured"><img src="images/cabling.jpg" alt="" /></div >
                            <p>Currently I am working to get the my current employer's environment more stable through planned infrastructure changes, system patching and maintenance</p>	
						</div>
					</section>

				
			
				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>
					<div class="image featured"><img src="images/bit2.jpg" alt="" /> </div>
							<p>You can reach me at <br />
				<a href="mailto:dhuber@danielhuber.me">dhuber@danielhuber.me</a><br />
				<a href="http://www.linkedin.com/pub/kevin-law/65/782/53b">Linkedin</a> <br />
				<a href="https://twitter.com/sopleb"> Twitter</a> <br />
				<a href="https://github.com/vashidu">Github</a> <br />
							</p>
						</div>
					</section>
			
			</div>
